@page {
  size: 148mm 210mm;

  @bottom-center {
    content: counter(page);
  }
}

.page {
  break-after: page;
}

.index-legend {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0 0.5em;

  dd {
    margin: 0;
  }
}

#index > [data-index-role="group-list"] {
  padding: 0;
  list-style: none;
}

#index > [data-index-role="group-list"] > [data-index-role="group"] {
  list-style: none;

  > [data-index-role="entry-list"] {
    padding-left: 1em;
  }
}

#index [data-index-role="entry-list"] > li {
  list-style: none;

  > [data-index-role="locator-list"],
  > [data-index-role="xref-preferred"],
  > [data-index-role="xref-related"] {
    display: inline;
    padding: 0;
    margin-left: 1em;
    list-style: none;
  }

  > [data-index-role="locator-list"] > li,
  > [data-index-role="xref-preferred"] > li,
  > [data-index-role="xref-related"] > li {
    display: inline;
  }

  > [data-index-role="locator-list"] > li a::before {
    content: target-counter(attr(href url), page);
  }

  > [data-index-role="xref-related"] > li:first-child::before {
    content: "⇒";
  }

  > [data-index-role="xref-preferred"] > li:first-child::before {
    content: "→";
  }

  > ol:empty,
  > ul:empty {
    display: none;
  }
}
