@page {
  size: 148mm 210mm;

  @bottom-center {
    content: counter(page);
  }
}

.page {
  break-after: page;
}

#index > [data-index-role="groups"] > li {
  list-style: none;

  > [data-index-role="entries"] {
    padding-left: 1em;
  }
}

#index [data-index-role="entries"] > li,
#index [data-index-role="subentries"] > li {
  list-style: none;

  > [data-index-role="locators"],
  > [data-index-role="see-references"] {
    display: inline;
    padding: 0;
    margin-left: 1em;
    list-style: none;
  }

  > [data-index-role="see-also-references"] {
    padding-left: 1em;
    list-style: none;
  }

  > [data-index-role="subentries"] {
    padding-left: 1em;
  }

  > ol:empty {
    display: none;
  }

  > [data-index-role="locators"] > li,
  > [data-index-role="see-references"] > li,
  > [data-index-role="see-also-references"] > li {
    display: inline;
  }

  > [data-index-role="locators"] > li {
    &::after {
      content: ", ";
    }

    &:last-child::after {
      content: "";
    }

    a::before {
      content: target-counter(attr(href url), page);
    }

    a + span::before {
      content: "-";
    }
  }

  > [data-index-role="see-references"] > li:first-child::before {
    content: "→";
  }

  > [data-index-role="see-also-references"] > li:first-child::before {
    content: "⇒";
  }

  > [data-index-role="see-references"] > li,
  > [data-index-role="see-also-references"] > li {
    &::after {
      content: "；";
    }

    &:last-child::after {
      content: "";
    }

    > a > span:nth-child(2):not(:last-child)::before {
      content: "：";
    }
  }
}
