@page {
  size: 148mm 210mm;

  @bottom-center {
    content: counter(page);
  }
}

.page {
  break-after: page;
}

#index > ol > li {
  list-style: none;

  > ol {
    padding-left: 1em;
  }
}

#index > ol > li > ol > li,
#index > ol > li > ol > li > ol:nth-of-type(4) > li {
  list-style: none;

  > ol:nth-of-type(1),
  > ol:nth-of-type(2) {
    display: inline;
    padding: 0;
    margin-left: 1em;
    list-style: none;
  }

  > ol:nth-of-type(3) {
    padding-left: 1em;
    list-style: none;
  }

  > ol:nth-of-type(4) {
    padding-left: 1em;
  }

  > ol:empty {
    display: none;
  }

  > ol:nth-of-type(1) > li,
  > ol:nth-of-type(2) > li,
  > ol:nth-of-type(3) > li {
    display: inline;
  }

  > ol:nth-of-type(1) > li {
    &::after {
      content: ", ";
    }

    &:last-child::after {
      content: "";
    }

    a::before {
      content: target-counter(attr(href url), page);
    }

    a + span::before {
      content: "-";
    }
  }

  > ol:nth-of-type(2) > li:first-child::before {
    content: "→";
  }

  > ol:nth-of-type(3) > li:first-child::before {
    content: "⇒";
  }

  > ol:nth-of-type(2) > li,
  > ol:nth-of-type(3) > li {
    &::after {
      content: "；";
    }

    &:last-child::after {
      content: "";
    }

    > a > span:nth-child(2):not(:last-child)::before {
      content: "：";
    }
  }
}
